            body {
                background: linear-gradient(to right, #0f0c29, #302b63, #24243e);       
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin: 0;
                padding: 0;
            }
            header {
                background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
                color:aliceblue;
                padding: 25px;
                text-align: center;
            }
            header a {
                color: white;
                text-decoration: none;
            }
            .logo {
                background-image: url("images/logo6.png");
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                width: auto;
                height: 200px;
                text-indent: -99999px;
                margin-left: -80px;
                position: relative;
            }
            .Games {
                background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
                color:beige;
                padding: 20px;
                display: flex;
                flex-direction:row;
                text-align: center;
                text-transform: uppercase;
            }
            .Games figure img {
                border: 2px solid white;
                border-radius: 20%;
                box-shadow: black 5px 5px 5px
            }
            .Games {
                display: flex;
                gap: 20px;
                justify-content: center;
                position: relative;
                left: 40spx;
            }

            .tablet {
                background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
                color:beige;
                padding: 20px;
                display: flex;
                flex-direction:row;
                text-align: center;
                text-transform: uppercase;
            }
            .tablet figure img {
                border: 2px solid white;
                border-radius: 20%;
                box-shadow: black 5px 5px 5px
            }
            .tablet {
                display: flex;
                gap: 20px;
                justify-content: center;
                position: relative;
                left: 40spx;
            }

            .buy-btn {
                background-color: #302b63;
                color:white;
                border: 3px soild black;
                cursor: pointer;
                transition: 0.3s;
                font-weight: bold;
            }
            
            ul {
                margin: 0;
                padding: 0;
                justify-content: center;
                gap: 40px;
                list-style-type: none;
                display: flex;
                align-items: center;

            }
            li {
                display:inline-table;
                margin-left: 15px;
                padding: 10px;
                position: relative;
                margin-right: 15px;
                bottom: -1px;
                position: relative;
                top: -60px;
                left: 10px;
                
            }
            footer{
                background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
                color: gray;
                font-size: 12px;
                padding: 1px;
                text-align: center;
            }
            a {
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
            li:hover {
                background: transparent
            }


/* Resulation setting */

@media screen and (max-width: 610px) {
    .Games {
        display: block;
    }
    .tablet {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .Games {
        display: none;
    }
    .tablet {
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (min-width: 1201px) {
    .tablet {
        display: none;
    }
    .Games {
        display: flex;
    }
}
